.full {
  background: url(/app/img/messi-background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background:none;
    color:white;
}

.btn-primary {
    background: transparent;
	color: white;
    border-color:greenyellow;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}

.btn-primary:hover {
    color:white;
    background:green;
    border-color:greenyellow;
}

.footer {
  background:black;
  color:white;
  border:none;
}

 
.navbar {
    background: black;
	color: white;
    border-color:greenyellow;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}

li:hover {
    color:white;
    background:green;
    border-color:greenyellow;
}

.navbar-default .navbar-nav>li>a{color:white;
}

.alphadiv { 
            background-color: rgba(0, 0, 0, 0.8);
            border-style:groove;
            border-radius:10px;
            border-spacing:4px;
            border-color:greenyellow;
}

.subgrupo {
            margin:10px;
            padding:10px;
}

.alert-text {
        color: red;
}

.table {
    width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-color: yellowgreen;
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
}
