<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EpicLeagueEntities" connectionString="metadata=res://*/EpicLeagueDataModel.csdl|res://*/EpicLeagueDataModel.ssdl|res://*/EpicLeagueDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\PW3_20152C_TP2_Torneos.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>